<% provide(:title, 'New Recommendation') %>
<h1>New Recommendation</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for [@user, @recommendation] do |f| %>
	
	  <%= render 'shared/error_messages_recommendation' %>

      <%= f.label :name %>
      <%= f.text_field :name %>
	  
	  <%= f.label "Start:" %>
      <%= f.time_select :start_at, :ampm=> true, :default=> Time.now, :datetime_separator=> ' at ' %><br>
	  to<br>
	  <%= f.time_select :start_at, :ampm=> true, :default=> Time.now+1.hour, :datetime_separator=> ' at ' %><br>
	  <%= f.label :description %>
      <%= f.text_area :description%>
	  
	  <%= f.hidden_field :event_id, :value => params[:event_id] %>
	  
	  
      <%= f.submit "Create Rec", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
