<% provide(:title, @event.name) %>
<%= stylesheet_link_tag "event_calendar" %>
      <h1>
        <%= @event.name %>
      </h1>
  <h3><%= "#{@today_month} #{@today.day}, #{@today.year}" %></h3><br>
	<%= link_to "Create a Rec", new_user_recommendation_path(:user_id=>current_user.id, :event_id=>@event.id)%><br><br>
  <% if !@recommendations.empty? %>
    <% @recommendations.reverse_each do |rec| %>
      <% @show_button = true %>
      <% rec.votes.each do |vote| %>
        <% if current_user.id == vote.user_id %>
          <% @show_button = false %>
        <%end%>
      <%end%>
     <ul class="recs">
      <li>
        
          <div id="vote_num"><h3><%= rec.votes.length %></h3></div>
          <% if @show_button %>
            <%= link_to '+1', vote_up_events_path(:id=>@event.id, :rec_id=>rec.id), :id=>"add_vote", class: "btn btn-small"%>
          <% else %>
            <%= link_to '+1', vote_up_events_path(:id=>@event.id, :rec_id=>rec.id), :disabled=> true, :id=>"add_vote_disabled", class: "btn btn-small"%>
            <script type="text/javascript">
            $('#add_vote_disabled').click(function(e){
              e.preventDefault();
            });
            </script>

          <%end%>
          
          <div>	
            <%= link_to rec.name, [rec.user, rec] %>
            <div>
              <%= rec.description%>
            </div>
          </div>
        
      </li>
    </ul>
		<% end %>
	<% else %>
		<center><h3> There are no Recommendations </h3></center>
	<% end %>


